/*
LEVEL ONE
*/
ul.dropdown {
	position: relative;
	margin: 0;
	padding: 0;
	width: 50%;
	margin-left: -100px;
	margin: auto;
}

ul.dropdown li {
	float: left;
	margin-top: 3px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	list-style: none;
	position: relative;
	padding: 10px 0px 20px 0px;
}

ul.dropdown li a {
	text-decoration: none;
	color: white;
	padding: 5px 20px 0 23px;
	-moz-border-radius: 5px;
}

/*
LEVEL TWO
*/
ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	width: 200px;
	background: #8bb806;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #D6D6D6;
}

ul.dropdown ul li {
	float: none;
	font-size: 15px;
	border: 1px solid #527100;
	background-color: #bbbbbb;
	padding: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 5px;
}

ul.dropdown ul li a {
	display: block;
	padding: 10px 5px;
	background: none;
}

/*
LEVEL THREE
*/
ul.dropdown ul ul {
	left: 100%;
	top: 0;
	background: #EAEAEA;
}

ul.dropdown li:hover {
	background-color: #527100;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.dropdown li:hover>ul {
	visibility: visible;
}